# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Git data
.git
.gitignore

# Ignore Dockerfile itself if needed
Dockerfile

# Ignore README or docs
README.md
docs/

# Ignore build outputs
dist/
build/
*.log
.venv/